{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}

<h1>We just sent you an email at <b>{{ email }}</b>!</h1>

<div>

{% if balance <= 0 %}
It looks like you are all paid up on dues. Nice work!<br>
<br>
{% else %}
<b>You need to pay dues of ${{ balance }}.</b> We'll happily take your hard earned cash, check or credit cards.<br>
<br>
Once paid up, you are all signed up to skate!<br>
{% endif %}
<br>
<br>
<br>
If something is incorrect or you did not receive the email, you can contact <a href="mailto:{{ FROM_EMAIL }}">{{ FROM_EMAIL }}</a> for help.
</div>

{% endblock %}
