{% extends "registration/base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
$(document).ready(function() {

    Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE }}');

    $('.payment_div').click(function() {
        $('.pm').hide('fast');
        $('.pm_' + $(this).attr("id")).show('fast');    
    });

    $('#cc_button').click(function() {

        $(this).attr('disabled', 'disabled').html('Processing....');
        $('.cc_errors').html('').hide();

        var errors = [];

        // Name on Card
        if($('#cc_name').val() == '')
            errors.push("Name on Card is required.");

        // Validate credit card number
        if(!Stripe.validateCardNumber($('#cc_num').val()))
            errors.push("Credit Card number appears to be invalid. Please check that it is correct.")

        // Validate expiry dates
        if($('#cc_month').val() == "")
            errors.push("Expiry month is required.");
        if($('#cc_year').val() == "")
            errors.push("Expiry year is required.");

        // Validate CVC
        if(!Stripe.validateCVC($('#cc_cvc').val()))
            errors.push("CVC code is not valid. It's usually the 3 or 4 digit number on the front or back of your card.");

        if(errors.length == 0)
        {
            // Attempt to submit the card to stripe
            Stripe.createToken({
                number: $('#cc_num').val(),
                cvc: $('#cc_cvc').val(),
                exp_month: $('#cc_month').val(),
                exp_year: $('#cc_year').val()
            }, stripeResponseHandler);
        }
        else
        {
            // Validation errors
            $('.cc_errors').show().html('There appears to be a problem with the credit card:<ul>');

            for(var i = 0; i < errors.length; i++)
                $('.cc_errors').append('<li>' + errors[i] + '</li>');

            $('.cc_errors').append('</ul>');

            $(this).html('Try Again - Pay Now').removeAttr('disabled');
        }
    });
});

function stripeResponseHandler(status, response) 
{
    if (response.error) 
    {
        $('.cc_errors').show().html('There appears to be a problem processing your credit card:<ul>');
        $('.cc_errors').append('<li>' + response.error.message + '</li>');
        $('.cc_errors').append('</ul>');
        $('#cc_button').html('Try Again - Pay Now').removeAttr('disabled');
    }        
    else 
    {
        $('#cc_button').html('Almost done....');

        // Copy automatic billing checkbox
        if($('#cc_automatic').is(":checked"))
            $('#autobill').val("1");

        $('#stripe_token').val(response.id);

        $('#stripe_form').submit();
    }
}


</script>
<style type="text/css">
.payment_div {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 10px 8px 5px;
}
.payment_option {
    font-size: 20px;
    margin-right: 8px;
}
.pm {
    margin-top:20px;
}

.highlight {
    background: #fdfecb;
}

</style>
{% endblock %}

{% if step %}
{% block step %}
<div class="step">Step 3 of 3</div>
{% endblock %}
{% endif %}

{% block content %}

<div class="skater-info">
    February dues are <span>${{ skater.balance }}</span>.
</div>

<br>

<div class="due-date">
    Dues must be received by {{ REGISTRATION_DEADLINE|safe }}.
</div>

<br>

{% if error %}
<!-- general error message -->
<div class="alert alert-error">
    {% if error %}{{ error }}{% endif %}
</div>
{% endif %}


<!-- CREDIT CARD PAYMENT -->

<div class="payment_div" id="cc">
    <input class="payment_option" type="radio" name="payment_method" value="cc"> Pay now with a Credit/Debit Card
</div>

<div class="{% if not cc_error %}hide{% endif %} pm pm_cc">

    <!-- credit card error messages -->
    <div class="cc_errors {% if not cc_error %}hide{% endif %} alert alert-error">{% if cc_error %}{{ cc_error }}{% endif %}</div>

    <!-- credit card form -->
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="cc_name">Name on Card</label>
            <div class="controls">
                <input type="text" id="cc_name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cc_num">Card Number</label>
            <div class="controls">
                <input type="text" id="cc_num" maxlength="16" style="width:140px;">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cc_exp">Expiration</label>
            <div class="controls">
                <select id="cc_month" style="width:auto;">
                    <option value="">Month</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select id="cc_year" style="width:auto;">
                    <option value="">Year</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cc_cvc">CVC</label>
            <div class="controls">
                <input type="text" id="cc_cvc" style="width:40px;" maxlength="4">
            </div>
        </div>
        <div class="control-group">
            <label class="checkbox" style="margin-left:150px;">
                <input type="checkbox" id="cc_automatic" style="font-size:20px;">
                Auto-bill me each month blah blah reasons why its awesome and how it will work
            </label>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-primary" id="cc_button">Pay Now</button>
        </div>
    </form>

    <!-- This form is the one that actually submits in the event that saving the card to stripe is successful. -->
    <form action="{% url 'registration.views.payment' %}" method="post" id="stripe_form">
        {% csrf_token %}
        <input type="hidden" name="payment_method" id="payment_method" value="cc">
        <input type="hidden" name="stripe_token" id="stripe_token" value="">
        <input type="hidden" name="autobill" id="autobill" value="">
    </form>

</div>


<!-- PAY IN PERSON -->

<div class="payment_div" id="pip">
    <input class="payment_option" type="radio" name="payment_method" value="pip"> Pay in Person
</div>

<div class="hide pm pm_pip">
    <div style="margin:25px 0 0 80px;">
        {{ REGISTRATION_PIP_INSTRUCTIONS|safe }}
    </div>
    <form action="{% url 'registration.views.payment' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="payment_method" value="pip">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Complete Registration</button>
        </div>
    </form>
</div>



<!-- PAY BY MAIL -->

<div class="payment_div" id="mail">
    <input class="payment_option" type="radio" name="payment_method" value="mail"> Mail in Payment
</div>

<div class="hide pm pm_mail">
    <div style="margin:25px 0 0 80px;">
        {{ REGISTRATION_MAIL_INSTRUCTIONS|safe }}
    </div>
    <form action="{% url 'registration.views.payment' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="payment_method" value="mail">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Complete Registration</button>
        </div>
    </form>
</div>

{% endblock %}
