{% extends "rink/base.html" %}

{% block content %}

{% if success_message %}
<div class="alert alert-success">
{{ success_message|safe }}
</div>
{% endif %}

<h3>{{ skater }}</h3>
<div>
    <a href="mailto:{{ skater.email }}">{{ skater.email }}</a>
</div>

<br>
<br>

<p class="lead">
{% if skater.balance == 0 %}
Balance is <b>zero</b>.
{% else %}
Balance is <b>${{ skater.balance }}</b>.
{% endif %}
</p>

<hr>

<div class="row">
<div class="span1">
</div>
<div class="span5">

{% if payment_success %}
<div class="alert alert-success">
{{ payment_success|safe }}
</div>
{% endif %}

{% if payment_error %}
<div class="alert alert-error">
{{ payment_error|safe }}
</div>
{% endif %}

<form action="{% url "rink.views.skater_tools_payment" skater_id=skater.id %}" method="post" class="form-horizontal">
{% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="method">Payment Method:</label>
            <div class="controls">
                <select name="method">
                    <option value=""> - - - - - - - - </option>
                    <option value="cash">Cash</option>
                    <option value="check">Check</option>
                    <option value="square">Square (credit card)</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Payment Notes:</label>
            <div class="controls">
                <input type="text" name="description">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Amount ($):</label>
            <div class="controls">
                <input type="text" name="amount" value="{{ skater.status.dues_amount }}" style="width:50px;">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <button type="submit" class="btn btn-primary">Add Payment</button>
            </div>
        </div>
</form>
</div>
</div>

<hr>
<br>

<h4>Skater Status</h4>

<p class="lead">Current status is {{ skater.status }} and owes <b>${{ skater.status.dues_amount }} per billing period.</b></p>

Change Status: 
<form action="" method="post" id="status_form">
{% csrf_token %}
<select name="status" onchange="$('#status_form').submit()" style="font-size:smaller">
    {% for status in skater_statuses %}
    <option value="{{ status.id }}"{% if status == skater.status %} selected="selected"{% endif %}>{{ status }}</option>
    {% endfor %}
</select>
</form>

<br>
<hr>
<br>

{% endblock %}
