{% extends "rink/base.html" %}

{% block content %}

<div class="span4">

<ul class="breadcrumb">
<li><a href="{% url "rink.views.profile" %}">My Profile</a> <span class="divider">/</span></li>
<li class="active">Change Your Password</li>
</ul>

 <form action="" method="post">
  {% csrf_token %}

  <fieldset>
      <legend>Change Password</legend>

<form action="" method="post">
  
  {% for field in form %}
    {{ field.label_tag }} {{ field }}
    {% if field.errors %}<span style="color:red">{{ field.errors }}</span>{% endif %}
  {% endfor %}
  
  <br>
  <br> 
  
  <button type="submit" class="btn">Change Password</button>

  <input type="hidden" name="next" value="{{ next }}" />
</form>


</div>

{% endblock %}
