{% extends "rink/base.html" %}

{% block content %}

<style type="text/css">
.form-horizontal .controls {
    margin-left: 0;
}
</style>

<div class="span4">

 <form action="" method="post">
  {% csrf_token %}

  <fieldset>
      <legend>Reset Password</legend>
  
      <div class="control-group">
        <div class="controls">
            <input id="id_email" type="text" name="email" maxlength="254" placeholder="Email Address">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Reset Password</button>
        </div>
      </div>
  
    </fieldset>
 </form>
</div>

{% endblock %}
