{% extends "rink/base.html" %}

{% block content %}

<div class="span4">

{% if validlink %}
<form action="" method="post">
  <fieldset>
      <legend>Change Password</legend>

  {% csrf_token %}
  {% for field in form %}
        {{ field.label_tag }} 
        {{ field }}
        {% if field.errors %}<span style="color:red">{{ field.errors }}</span>{% endif %}
  {% endfor %}

   <br>
   <br>

   <button type="submit" class="btn">Change Password</button>

  </fieldset>
</form>

{% else %}
<p class="lead">This link is broken or not valid anymore. Please try <a href="{% url "django.contrib.auth.views.password_reset" %}">resetting your password here</a> or contact us for help.</p>
{% endif %}

</div>

{% endblock %}
