{% extends "emails/base.html" %}
{% block content %}
<br>
Hello {{ skater_short_name }},<br>
<br>
<b>Whoops! Apologies to those who may have got a confusing email with a zero balance and being inactive. Please disregard it!</b> This email should be correct. Please relpy if you have any questions.<br>
<br>
MWD Second Summer 2014 Session dues payments are due on Monday, August 11th.
{% if skater.balance > 0 %}
Your balance is <b>${{ skater.balance }}</b>.<br>
{% else %}
It doesn't appear that you owe any dues currently. (We have you in the "{{ skater.status.name }}" group.)<br>
{% endif %}
<br>

{% if skater.balance > 0 and skater.automatic_billing and skater.stripe_customer_id != "" %}
<b>You have automatic billing enabled. We will attempt to charge your card on the due date for the balance above.</b><br>
<br>
{% endif %}

If you do not know your password for the online payment system you can <a href="https://madwreckindolls.com/rink/password-reset/">request a password reset</a>.<br>
<br>

<a style="font-size:18px;font-weight:bold;" href="https://madwreckindolls.com/rink/">Click to pay your MWD dues online:</a><br>
<br>
<a href="https://madwreckindolls.com/rink/">https://madwreckindolls.com/rink/</a><br>

<br>
<br>
If chose not to pay online, you can pay The Auditor in person with cash, checks, or credit card. You can also mail a check to The Auditor. Additionally, there is also a MWD mailbox located at The Auditor's, you can place an envelope with your name and payment (cash or check).<br>
<br>
Checks should be made payable to <b>Mad Wreckin' Dolls</b> or <b>MWD</b>.<br>
<br>
Mad Wreckin' Dolls<br>
c/o Heidi Silvers<br>
1 Loretta Ct<br>
Madison, WI 53716<br>
<br>
Thanks!<br>
<br>
<b>The Auditor</b><br>
Finance and Membership Chair<br>
Mad Wreckin Dolls<br>
<br>


{% endblock %}

