{% extends "emails/base.html" %}
{% block content %}

Hey Fellow Derby Girl!<br>
<br>
Your name has been pulled in our lottery and you have a spot reserved for you in the Spring 2013 Mad Wreckin' Dolls session!<br>
<br>
Here is what we need from you to get started:<br>
<br>
<ol style="padding:3px;">
<li style="margin-bottom:8px;"><a href="https://madwreckindolls.com/registration/{{ skater.id }}/{{ skater.user_hash }}" style="font-weight:bold;">Fill out the registration form online at this link</a> - please be prepared to submit your first month's dues via credit card (or be ready to submit a check).</li>
<li style="margin-bottom:8px;">You will receive a confirmation e-mail stating that your registration was accepted.</li>
<li style="margin-bottom:8px;">There will be a waiver attached to that e-mail that you need to fill out and return to The Auditor or Trueblood.</li>
</ol><br>
If you are unable to fill out the registration form or print the waiver from home/work, please contact The Auditor or Trueblood immediately and we will try to make arrangements to help you complete your registration.<br>
<br>
If you have prior skating experience and want to be placed in a higher level, please contact the training managers at <a href="mailto:madwreckindoll@gmail.com">madwreckindolls@gmail.com</a>.<br>
<br>
If you are interested in purchasing insurance or anticipate being placed in a higher level, please email the board for more information.<br>
<br>
Dates to be aware of:<br>
<br>
<b>All paperwork and dues will be required, in full, by the end of February 7th</b>.  If you fail to make payment by this deadline your spot will be relinquished and passed on to the next person on the waiting list.<br>
<br>
<b>February 4th - 6:00 pm:</b>  All League Meeting - attendance is mandatory.  If you are unable to attend, please contact the board at madwreckindolls@gmail.com.  You will be required to review the minutes from the meeting and sign that you have read them.
The meeting will be held at the High Noon Saloon - 701 East Washington Avenue, Madison.  Only skaters are invited to attend this meeting so please make arrangements accordingly.<br>
<br>
<b>February 7th:</b> First practice for all new skaters.  Doors open at 5:00 pm, on rink at 5:15 pm, off rink at 7:15 pm, out by 7:30 pm.<br>
<br>
Please feel free to contact us if you have any questions!<br>
We look forward to skating with you!<br>
<br>
Trueblood & The Auditor<br>
Administration and Financial co-chairs<br>
<a href="mailto:madwreckindolls@gmail.com">madwreckindolls@gmail.com</a><br>

{% endblock %}
