{% extends "emails/base.html" %}
{% block content %}
<br>
Hello {{ skater_short_name }},<br>
<br>
You are now registered for the {{ session.name }} session.{{ intro }}<br>
<br>
Here's what you submitted on the registration form. Please reply to this email if anything needs to be changed.<br>
<br>
<div style="border-bottom:1px solid #cecece;height:20px;"></div>
<br>
<b>YOUR INFO:</b><br>
<br>
Derby Name: {% if skater.derby_name %}{{ skater.derby_name }}{% else %}<empty, you can decide later>{% endif %}<br>
Derby Number: {% if skater.derby_number %}{{ skater.derby_number }}{% else %}<empty, you can decide later>{% endif %}<br>
<br>
{{ skater.first_name }} {{ skater.last_name }}<br>
{{ skater.address1 }} {{ skater.address2 }}<br>
{{ skater.city }}, {{ skater.state }} {{ skater.zip }}<br>
<br>
Phone: {{ skater.phone }}<br>
Email: {{ skater.email }}<br>
<br>
<br>
<b>EMERGENCY CONTACT INFO:</b><br>
<br>
Contact: {{ skater.emergency_contact }} [{{ skater.emergency_relationship }}]<br>
Phone: {{ skater.emergency_phone }}<br>
<br>
<div style="border-bottom:1px solid #cecece;height:20px;"></div>
<br>
If you have any questions, please feel free to reply to this email.<br>
<br>
See you on the rink!<br>
<br>
Mad Wreckin' Dolls<br>
<a href="mailto:madwreckindolls@gmail.com">madwreckindolls@gmail.com</a><br>
<br>

{% endblock %}

